V1C6ND_1122/studentV1C6ND.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xs:element name = "class">
		<xs:complexType>
			<xs:sequence>
				<xs:element name = "student" maxOccurs = "unbounded">
					<xs:complexType>
						<xs:all>
							<xs:element name = "keresztnev" type = "xs:string"></xs:element>
							<xs:element name = "vezeteknev" type = "xs:string"></xs:element>
							<xs:element name = "becenev" type = "xs:string"></xs:element>
							<xs:element name = "kor" type = "xs:integer"></xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>