V1C6ND_1004/orarendV1C6ND.dtd

<!ELEMENT V1C6ND_orarend (ora+)>

<!ELEMENT ora (kurzusnev, idopont, helyszin, oktato, szak)>
<!ATTLIST ora id CDATA #REQUIRED
    tipus (elmelet|gyakorlat) #REQUIRED>

<!ELEMENT kurzusnev (#PCDATA)>
<!ELEMENT idopont (nap, kezdes, befejezes)>
<!ELEMENT nap (#PCDATA)>
<!ELEMENT kezdes (#PCDATA)>
<!ELEMENT befejezes (#PCDATA)>
<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>